<html>


<h1>Add Movie</h1>


<!-- /add-movie is defind as a POST route inside app.js. If this route is not there then the application will fail -->
<form method = "POST" action = '/add-movie'>
    <input type = "text" placeholder = "Movie name" name ="movieName"/>
    <input type="text" placeholder = "Movie year" name = "movieYear"/>
    <button>Add Movie</button>

</form>

</html>