:root {
    background-color: #333;
    color: #fff
}

img {
    width: 25%;
}

.books-wrapper {
    display: flex;
    list-style-type: none;
    text-align: center;
}

.book-image {
    width: 200px;
    align-items: center;
}

.book-details {
    text-align: center;
}