<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Task</h1>
    
    <form action="/">
        <button>Click here to view all Tasks</button>
    </form>

    <form action="/add-item" method="POST">
        <input type="text" placeholder="Enter Task" name="title" />
        <input type="text" placeholder="Enter Priority" name="priority" />
        <button>Submit</button>
    </form>






</body>
</html>