<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Post</h1>
    {{#arr}}
        <form method="POST" action="/update-info">
            <input type="text" placeholder="title" name="title" value="{{title}}" />
            <input type="text" placeholder="body" name="body" value="{{body}}" />
            <input type="hidden" name="id" value={{id}}>
            <button>Update Post</button>
        </form>
    {{/arr}}
</body>
</html>