<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Trip</title>
</head>
<body>
    <a href="/">Click here to view all trips.</a>
    <form action="/addTrip" method="POST">
        <input type="text" placeholder="Enter Destination" name="title">
        <input type="text" placeholder="Enter imageURL" name="image">
        <input type="date" placeholder="Enter Departure Date" name="departure">
        <input type="date" placeholder="Enter Arrival Date" name="arrive">
        <button>Submit</button>
    </form>







    
</body>
</html>